
    @font-face {
        font-family: 'KIMM_Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }

    * {
        font-family: 'KIMM_Bold';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }



    a {
        text-decoration: none;
        color: black;
    }

    /* 헤더의 내용물 나열 속성 정의 */
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        font-family: 'KIMM_Bold';


    }

    .headerImg {
        width: 50px;
        height: 50px;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reviewRegister-box {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 300px;
    }

    .reviewRegister-box form {
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #title {
        width: 90%;
        height: 50px;
        border-radius: 5px;
        border-color: rgba(7, 7, 7, 0.562);
        margin-bottom: 20px;
    }

    #content {
        width: 90%;
        height: 150px;
        border-radius: 5px;
        border-color: rgba(7, 7, 7, 0.562);
    }

    .botton-box {
        margin-top: 20px;
        width: 90%;

        display: block;
        flex-direction: row;
        justify-content: flex-start;
    }

    .botton-box button {
        width: 70px;
        height: 40px;
        margin: 5px 4px 5px 4px;
    }

    html,
    body {
        height: 100%;
    }

    .wrap {
        position: relative;
        min-height: 100%;
        padding-bottom: 114px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width:100%;
    }

       /* 헤더의 내용물 나열 속성 정의 */
       header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-family: 'KIMM_Bold';


    }

    .headerImg {
        width: 50px;
        height: 50px;
    }
    .wrap {
        position: relative;
        min-height: 100%;
        padding-bottom: 114px;
    }

